templates/seguimientos.template.json
{
  "name": "Seguimientos (template)",
  "nodes": [
    {
      "name": "Webhook · Enrolado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "parameters": {
        "httpMethod": "POST",
        "path": "{{ORA_WEBHOOK_PATH}}",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "{{ORA_WEBHOOK_ID}}",
      "id": "n1",
      "position": [
        220,
        400
      ]
    },
    {
      "name": "Wait 2h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "n2",
      "position": [
        420,
        400
      ]
    },
    {
      "name": "Get Contact 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook · Enrolado').item.json.body.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ORA_PIT}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "n3",
      "position": [
        420,
        400
      ]
    },
    {
      "name": "Eval 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const c = $json.contact ?? $json;\nconst tags = (c.tags || []).map(t => String(t).toLowerCase());\nreturn [{ json: { contactId: c.id, phone: c.phone, answered: tags.includes('answered') } }];"
      },
      "id": "n4",
      "position": [
        620,
        400
      ]
    },
    {
      "name": "¿contestó 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "contest2-c",
              "leftValue": "={{ $('Eval 2').item.json.answered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n5",
      "position": [
        820,
        400
      ]
    },
    {
      "name": "Tag \"llamar\" 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Eval 2').item.json.contactId }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ORA_PIT}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"{{ORA_TAG_LLAMAR}}\"] }) }}",
        "options": {}
      },
      "id": "n6",
      "position": [
        1020,
        520
      ]
    },
    {
      "name": "GHL · Stage seguimiento 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ORA_PIT}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"{{ORA_PIPELINE_ID}}\", locationId: \"{{ORA_LOCATION_ID}}\", contactId: $('Eval 2').item.json.contactId, pipelineStageId: \"{{ORA_STAGE_SEGUIMIENTO}}\", status: \"open\", name: ($('Eval 2').item.json.contactName || $('Eval 2').item.json.phone || \"Lead\") }) }}",
        "options": {}
      },
      "id": "n7",
      "position": [
        1240,
        520
      ]
    },
    {
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "n8",
      "position": [
        1460,
        400
      ]
    },
    {
      "name": "Get Contact 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook · Enrolado').item.json.body.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ORA_PIT}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "n9",
      "position": [
        1460,
        400
      ]
    },
    {
      "name": "Eval 6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const c = $json.contact ?? $json;\nconst tags = (c.tags || []).map(t => String(t).toLowerCase());\nreturn [{ json: { contactId: c.id, phone: c.phone, answered: tags.includes('answered') } }];"
      },
      "id": "n10",
      "position": [
        1660,
        400
      ]
    },
    {
      "name": "¿contestó 6?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "contest6-c",
              "leftValue": "={{ $('Eval 6').item.json.answered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n11",
      "position": [
        1860,
        400
      ]
    },
    {
      "name": "Tag \"llamar\" 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Eval 6').item.json.contactId }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ORA_PIT}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"{{ORA_TAG_LLAMAR}}\"] }) }}",
        "options": {}
      },
      "id": "n12",
      "position": [
        2060,
        520
      ]
    }
  ],
  "connections": {
    "Webhook · Enrolado": {
      "main": [
        [
          {
            "node": "Wait 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2h": {
      "main": [
        [
          {
            "node": "Get Contact 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact 2": {
      "main": [
        [
          {
            "node": "Eval 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval 2": {
      "main": [
        [
          {
            "node": "¿contestó 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿contestó 2?": {
      "main": [
        [],
        [
          {
            "node": "Tag \"llamar\" 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag \"llamar\" 3": {
      "main": [
        [
          {
            "node": "GHL · Stage seguimiento 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL · Stage seguimiento 4": {
      "main": [
        [
          {
            "node": "Wait 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24h": {
      "main": [
        [
          {
            "node": "Get Contact 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact 6": {
      "main": [
        [
          {
            "node": "Eval 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval 6": {
      "main": [
        [
          {
            "node": "¿contestó 6?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿contestó 6?": {
      "main": [
        [],
        [
          {
            "node": "Tag \"llamar\" 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
